body{
    margin-left: 2em;;
    margin-right: 2em;;
    padding-right: 10%;
    padding-left: 10%;
}
/* -----------------------------nav bar------------------------------------- */
.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    
  }
  .nav li {
    display: inline-block;
    margin: 2em;;
  }

  .nav{
    background-color: lightblue;
    
  }

  .logo{
    float: left;
    width: 50%;
    height: 50%px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
  }

  /* -----------------------------title------------------------------------- */
  .title {
      text-align: center;
      background-color: lightblue;
  }

  /* -----------------------footer----------------------*/

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    color: white;
    text-align: center;
  }

    /* -----------------------content----------------------*/

    .home-content{
        margin: 2em;
        padding: 2em;;
        
    }
    .intro-video{
        display: flex;
        justify-content: center;
    }

    p{
        font-size: 1.5em;
    }

    h2{
       text-decoration: underline; 
       font-size: 2em;
    }

    h3{
      font-size: 1.75em;
   }

    
    /* -----------------------form----------------------*/
    .form{
      font-size: 1.5em;
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: lightblue;
    }