body{
    margin-left: 2em;;
    margin-right: 2em;;
    padding-right: 10%;
    padding-left: 10%;
}
/* -----------------------------nav bar------------------------------------- */
.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    
  }
  .nav li {
    display: inline-block;
    margin: 2em;;
  }

  .nav{
    background-color: lightblue;
  }

  .logo{
    float: left;
    width: 50%;
    height: 50%px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
  }

  /* -----------------------------title------------------------------------- */
  .title {
      text-align: center;
      background-color: lightblue;
  }